.header {
    min-height: 100vh;
    background: url('../images/mobile/back.jpg') no-repeat center;
    background-size: cover;

    overflow: hidden;

    &__nav {}

    &__logo {}

    &__menu {}

    &__title {
        margin-bottom: 15px;
        margin-top: 100px;
    }

    &__subtitle {
        margin-bottom: 30px;
    }

    &__icon {
        margin-bottom: 15px;
        color: $blue;
        display: flex;
        justify-content: center;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    &__image {}

    &__pic {
        width: 100%;
        display: block;
    }

}