.header {
    height: 100vh;
    background: url('../images/mobile/mobback.jpg') no-repeat top center;
    background-size: cover;

    &__nav {
        display: flex;
        
    };

    &__menu {
        display: none
    };

    &__title {

    };

    &__subtitle {

    }

    &__icon {

    }

    &__btn {

    };

}