@font-face {
    font-family: 'gteesti';
    src: url('fonts/gtesti/gteestiprodisplay_regular.eot');
    src: url('fonts/gtesti/gteestiprodisplay_regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/gtesti/gteestiprodisplay_regular.woff2') format('woff2'),
        url('fonts/gtesti/gteestiprodisplay_regular.woff') format('woff'),
        url('fonts/gtesti/gteestiprodisplay_regular.ttf') format('truetype'),
        url('fonts/gtesti/gteestiprodisplay_regular.svg#gt_eesti_pro_displayregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'gteesti';
    src: url('fonts/gtesti/gteestiprodisplay_bold.eot');
    src: url('fonts/gtesti/gteestiprodisplay_bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/gtesti/gteestiprodisplay_bold.woff2') format('woff2'),
        url('fonts/gtesti/gteestiprodisplay_bold.woff') format('woff'),
        url('fonts/gtesti/gteestiprodisplay_bold.ttf') format('truetype'),
        url('fonts/gtesti/gteestiprodisplay_bold.svg#gt_eesti_pro_displayregular') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'gteesti';
    src: url('fonts/gtesti/gteestiprodisplay_thin.eot');
    src: url('fonts/gtesti/gteestiprodisplay_thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/gtesti/gteestiprodisplay_thin.woff2') format('woff2'),
        url('fonts/gtesti/gteestiprodisplay_thin.woff') format('woff'),
        url('fonts/gtesti/gteestiprodisplay_thin.ttf') format('truetype'),
        url('fonts/gtesti/gteestiprodisplay_thin.svg#gt_eesti_pro_displaythin') format('svg');
    font-weight: 300;
    font-style: normal;

}